@model IEnumerable<MovieIdeas.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Movie Statistics";
}

<h2>Movie Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Movies
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.MovieCount
            </td>
        </tr>
    }
</table>